.header--principal {
    display: flex;
    padding: 0 20px 20px 20px;
    height: 90px;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    margin-bottom: 20px;
}
.nav--header ul{
    @include lista;
    display: none;
    padding-block-start: 35px;
    li{
        margin-inline-end: 50px;
    }
    a{
        color: $color-variacion;
        @include titulos($Fuente2);
    }
    @include media(desktop-s){
        display: flex;
    }
}
.header__busqueda{
    display: none;
    margin-left: auto;
    padding-top: 35px;
    &:hover{
        text-decoration: none;
    }
    i{
        font-size: 20px;
        margin-right: 10px;
        color: $color-secundario;
    }
    span{
        @extend a;
    }
    @include media(desktop-s){
        display: flex;
    }
}