-var titulos = [ "Título Principal" , "Subítulo1", "Subítulo2", "Subítulo3" ]
-var usuaro = "John"
-var enlaces= ["Acerca de", "Main Page", "Tumama"]
mixin caja(imagen, titulo, Lorem)
    .caja
        .caja__imagen: img(src="/images/"+imagen , alt="")
        .caja__contenido
            h3= titulo
            p= Lorem
            a.buton Leer mas